// External paths - URLs, folders, etc. indicating where external files are. I.e. Images, Fonts.

$external-root: "https://thijsboerma.dev";
$external-images: $external-root + "/img/prutz/";
$external-fonts: $external-root + "/fonts/";