@use "../variables" as *;

#back-to-top {
    background-image: url(#{$osrs-button});
    background-size: contain;
    background-repeat: no-repeat;
    width: 55px;
    border: 3px solid black;
    height: 47px;
}